#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }

ul#menu {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 30%;
    list-style: none;
    z-index:600;
}
ul#menu li {
    display:inline;
    float:left;
    width:100px;
    margin-left:1px;
}
ul#menu li a {
    display: block;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    float: left;
    width: 100px;
    height: 35px;
    color: #603d05;
    background-size: 100% 100%;
    text-decoration:none;
    text-align: center;
    padding-top: 80px;
    margin-top: -40px;
    cursor: pointer;
}

#welcome_ghost {
    background: transparent url("../images/ghost_welcome.png") no-repeat bottom right;
}

#register_ghost {
    background: transparent url("../images/ghost_register.png") no-repeat bottom right;
}

#login_ghost {
    background: transparent url("../images/ghost_login.png") no-repeat bottom right;
}

#about_ghost {
    background: transparent url("../images/ghost_about.png") no-repeat bottom right;
}

#welcome {
    width: 100%;
    height: calc(100vw * 0.625);
    background-image: url("../images/pixels_pacman_logo.jpg");
    background-size: 100% 100%;
}

#welcome Button {
    position: absolute;
    display: block;
    width: 270px;
    height: 95px;
    background-size: 270px 95px;
    margin-left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

#register_from_welcome {
    margin-top: 20%;
    background-image: url("../images/register_icon.png");
}

#login_from_welcome {
    margin-top: 35%;
    background-image: url("../images/login_icon.png");
}
.basic_background{
    background-image: url("../images/divs_background.jpg");
    background-size: 100% 100%;
}

#footer {
    background-color: cornflowerblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#header {
    background-color: cornflowerblue;
    position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    z-index: 500;
}

#body_content{
    margin-top: 75px;
    margin-bottom: 50px;
}

#game_data{
    float:left;
    position: absolute;
    top: 45%;
    left: 10%;
    border: black;
}

#restart_game_button{
    display: block;
    width: 140px;
    height: 60px;
    background-size: 140px 60px;
    overflow: auto;
    background-image: url("../images/reset.png");
}

#game_canvas{
    overflow: hidden;
    top: 50%;
}

#canvas{
    border-style: solid;
    border-width: 5px;
    border-color: black;
}



